/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.mobile-mode-off {
  display: none;
}
.nlwidth {
  width: 700px;
}
@media screen and (max-width: 992px) {
  .tablet-mode {
    display: none;
  }
  .fb {
    display: block !important;
    margin-left: 20px !important;
  }
  .mobile-mode-off {
    display: contents;
  }
  .nlwidth {
    width: fit-content;
  }
}

@media screen and (max-width: 786px) {
  .mobile-mode-on {
    display: none;
  }
}
